# EJEMPLO DE ARCHIVO PARA EL VPS DE IONOS (Renombrar a .env)
SECRET_KEY=django-insecure-^-qgo%7af%u8qd+yaem2e0xw&i!j1+*k!#8ku4ymt)kgbe0h7w
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,tu_dominio.com,www.tu_dominio.com,IP_DEL_VPS

# Base de Datos PostgreSQL (Ionos)
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=nombre_de_tu_bd_en_ionos
DB_USER=usuario_de_postgre
DB_PASSWORD=tu_contraseña_fuerte
DB_HOST=127.0.0.1
DB_PORT=5432
