{% extends 'base.html' %}
{% block title %}¿Quiénes Somos? | Heilyn Aguilar{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            
            <h1 class="display-3 font-elegant mb-4">Heilyn Aguilar Store</h1>
            <h5 class="text-uppercase tracking-wide mb-5 text-muted" style="letter-spacing: 3px;">Pasión por el diseño de vanguardia</h5>
            
            <div class="bg-white p-5 shadow-sm rounded mb-5">
                <i class="fas fa-gem fa-3x mb-4" style="color: #b998b3;"></i>
                <h3 class="font-elegant mb-4">Nuestra Esencia</h3>
                <p class="lead text-muted mb-4 text-start">Nacida en el vibrante entorno de la moda en Cúcuta y expandiéndose agresivamente hacia cada rincón de Colombia, <strong>HEILYN AGUILAR STORE</strong> es una marca emergente creada exclusivamente para inspirar fuerza, empoderamiento femenino y muchísima elegancia diaria.</p>
                <p class="text-muted text-start mb-4">No vendemos simplemente telas o recortes; diseñamos y seleccionamos meticulosamente prendas que resalten las curvas latinas, que ofrezcan tallajes impecables y sobre todo, que entreguen texturas <em>Premium</em> que logren convertir los básicos del armario de una mujer en piezas obligatorias y protagonistas puestas para robarse las miradas (<em>Must-Haves</em>).</p>
                <p class="text-muted text-start mb-0">Nuestros pilares son muy claros: Moda rápida pero asertiva, exclusividad de inventarios limitados (para que no salgas a la calle vistiendo igual a otra chica), control implacable de calidad, envíos nacionales veloces y la filosofía de que sentirte bella no debe ser un lujo inalcanzable.</p>
            </div>

            <h4 class="font-elegant mb-4">¡Somos una Gran Comunidad!</h4>
            <p class="text-muted">Acompáñanos a crecer e inspírate viéndonos brillar juntas en nuestro Instagram oficial. #ChicasHeilyn</p>
            <a href="https://www.instagram.com/byheilynaguilar?igsh=ZHlydmE0ZGh3cDgz&utm_source=qr" target="_blank" class="btn btn-dark btn-lg mt-3 px-5 rounded-0 shadow" style="letter-spacing: 2px;">ÚNETE A LA REVOLUCIÓN</a>

        </div>
    </div>
</div>
{% endblock %}
